@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
 background-color: #d1d5dd; 
}

h1 {
font-family: "Roboto", Sans-Serif;
 color: #ffffff;
 background-color:#1a2c54 ;

}

p {
  font-family: "Roboto", Sans-Serif;
  font-size: 20;
}

.box {
background-color: #ffffff;
padding: 20px !important;
}

.cbcontainer {
display: inline-block;
}
             
.checkbox {
text-align: left;
display: inline-block;
line-height: 30px;
margin-bottom: 40px;
}


.checkbox input {
float: right;
position: relative !important;
margin: 5px !important;
width: 30px; 
height: 30px; 
line-height: 30px;
}
             
.checkbox label {
padding-left: 0px !important;
font-size: large;
font-weight:800;
}

li{
  font-size: 14pt;
  margin: 15px 0;
}
